@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --color-main: #0dd5b5;
  --color-secondary: #000000;
  --color-tertiary: #f7d656;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-syne);
  --color-main: var(--color-main);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne), sans-serif;
}
